<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Rohan</title>

	<!-- Template CSS -->
	<link rel="stylesheet" href="~/assets/css/style-starter.css">

	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
</head>
<body class="sidebar-menu-collapsed">
	<div class="se-pre-con"></div>
	<section>
		@Html.Partial("_Header")

		@Html.Partial("_TopHeader")
		<div class="main-content">
			<div class="container-fluid content-top-gap">
				@RenderBody()
			</div>
		</div>
	</section>
	@*<footer class="dashboard">
	<p>
	&copy 2024 Collective. All Rights Reserved | Design by Rohan
	</p>
	</footer>*@
	<!--footer section end-->
	<!-- move top -->
	<button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
		<span class="fa fa-angle-up"></span>
	</button>
	<script>

		window.onscroll = function () {
			scrollFunction()
		};

		function scrollFunction() {
			if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
				document.getElementById("movetop").style.display = "block";
			} else {
				document.getElementById("movetop").style.display = "none";
			}
		}

		function topFunction() {
			document.body.scrollTop = 0;
			document.documentElement.scrollTop = 0;
		}
	</script>
	<script src="~/assets/js/jquery-3.3.1.min.js"></script>
	<script src="~/assets/js/jquery-1.10.2.min.js"></script>
	<script src="~/assets/js/jquery.nicescroll.js"></script>
	<script src="~/assets/js/scripts.js"></script>
	<script>
		var closebtns = document.getElementsByClassName("close-grid");
		var i;

		for (i = 0; i < closebtns.length; i++) {
			closebtns[i].addEventListener("click", function () {
				this.parentElement.style.display = 'none';
			});
		}
	</script>
	<!-- //close script -->
	<!-- disable body scroll when navbar is in active -->
	<script>
		$(function () {
			$('.sidebar-menu-collapsed').click(function () {
				$('body').toggleClass('noscroll');
			})
		});
	</script>
	<script src="~/assets/js/modernizr.js"></script>
	<script>
		$(window).load(function () {
			debugger
			$(".se-pre-con").fadeOut("slow");;
		});
	</script>

	@await RenderSectionAsync("Scripts", required: false)
	<script src="~/assets/js/bootstrap.min.js"></script>
</body>
</html>
