
/AdminWeb/.vs/AdminWeb/FileContentIndex
/AdminWeb/.vs/AdminWeb/v17
/AdminWeb/AdminWeb/bin/Debug/net7.0
/AdminWeb/AdminWeb/obj/Debug/net7.0
/AdminWeb/.vs/AdminWeb/v17
AdminWeb/.vs/AdminWeb/v17/.suo
/AdminWeb/.vs/AdminWeb/DesignTimeBuild
/AdminWeb/.vs/ProjectEvaluation
