@{
	Layout = null;
}

<!DOCTYPE HTML>
<html>

<head>
	<title>Login</title>
	<!-- Meta-Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>

	<link href="~/css/font-awesome.css" rel="stylesheet">
	<link href="~/css/style.css" rel='stylesheet' type='text/css' />
	<!--// Stylesheets -->
	<!--fonts-->
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
	<!--//fonts-->
</head>

<body>
	<h1>Spin Login Form </h1>
	<div class="clear-loading spinner">
		<span></span>
	</div>
	<div class="w3ls-login box box--big">
		<!-- form starts here -->
		<form class="loginForm" method="post">
			<div class="agile-field-txt">
				<label><i class="fa fa-user" aria-hidden="true"></i> Username </label>
				<input type="text" class="inputName" name="name" placeholder="Enter User Name" required="" />
			</div>
			<div class="agile-field-txt">
				<label><i class="fa fa-unlock-alt" aria-hidden="true"></i> password </label>
				<input type="password" class="inputPass" name="password" placeholder="Enter Password" required="" id="myInput" />
				<div class="agile_label">					
					<label>Click to go <a onclick="OpenRegisterPage()">Register Page</a></label>
				</div>
				<div class="agile-right">
					<a href="#">forgot password?</a>
				</div>
			</div>
			
			<script>
				function myFunction() {
					var x = document.getElementById("myInput");
					if (x.type === "password") {
						x.type = "text";
					} else {
						x.type = "password";
					}
				}
			</script>
			<!-- //end script -->
			<input type="submit" value="LOGIN">
		</form>
	</div>
	
	<style>
		a{
			color: yellow;
		}
		a:hover{
			cursor:pointer;	
			color:aquamarine;
		}
	</style>

	<script>
		function OpenRegisterPage(){
			window.location.href = '/account/register'
		}
	</script>

	<!--copyright-->
	<div class="copy-wthree">
		<p>
			© 2024 All Rights Reserved | Design by Rohan
		</p>
	</div>
	<!--//copyright-->
</body>
</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
	$(".loginForm").submit(function(){
		debugger
		var name = $(".inputName").val()
		var password = $(".inputPass").val()

		var model = {
			Username : name,
			Password : password
		}

		$.ajax({
			url:'/account/login',
			type:'POST',
			data:model,
			success:function(res){
				if(res.flag == 1){
					alert(res.message)
					window.location.href = '/home/index'
				}
				else{
					alert(res.message)
				}
			},
			error:function(res){
				console.log(res)
			}

		})
	})
</script>