@{
	Layout = null;
}

<!DOCTYPE HTML>
<html>

<head>
	<title>Register</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>

	<link href="~/css/font-awesome.css" rel="stylesheet">
	<link href="~/css/style.css" rel='stylesheet' type='text/css' />
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">

</head>

<body>
	<h1>Spin Register Form </h1>

	<div class="w3ls-login box box--big">

		<form method="post" id="registrationForm">
			<div class="agile-field-txt">
				<label>Username </label>
				<input type="text" name="name" id="inputName" placeholder="Enter User Name" />
			</div>
			<div class="agile-field-txt">
				<label>Email </label>
				<input type="text" name="name" id="inputEmail" placeholder="Enter Email" />
			</div>
			<div class="agile-field-txt">
				<label>Phone </label>
				<input type="text" onkeypress="return /[0-9]/i.test(event.key)" id="inputPhone" name="name" placeholder="Enter Phone" />
			</div>
			<div class="agile-field-txt">
				<label>Role </label>
				<select class="form-select" id="userrole">
					<option value="admin">Admin</option>
					<option value="developer">Developer</option>
					<option value="mgmt">Management</option>
					<option value="others">Others</option>
				</select>
			</div>
			<div class="agile-field-txt">
				<label>Confirm Password </label>
				<input type="password" name="password" id="inputPass" placeholder="Enter Password" />
			</div>
			<div class="agile-field-txt">
				<label>password </label>
				<input type="password" name="password" id="inputCnfPass" placeholder="Enter Password" />
				<div class="agile_label">

					<label>Click to go <a onclick="OpenLoginPage()">Login Page</a></label>
				</div>
				<div class="agile-right">
					<a href="#">forgot password?</a>
				</div>
			</div>

			<script>
				function myFunction() {
					var x = document.getElementById("myInput");
					if (x.type === "password") {
						x.type = "text";
					} else {
						x.type = "password";
					}
				}
			</script>

			<input type="submit" value="REQUEST">
		</form>
	</div>

	<style>
		a {
			color: yellow;
		}

			a:hover {
				cursor: pointer;
				color: aquamarine;
			}
	</style>

	<script>
		function OpenLoginPage() {
			window.location.href = '/account/login'
		}
	</script>

	<!--copyright-->
	<div class="copy-wthree">
		<p>
			© 2024 All Rights Reserved | Design by Rohan
		</p>
	</div>
	<!--//copyright-->
</body>
</html>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>

	$("#registrationForm").submit(function () {

		var name = $("#inputName").val()
		var email = $("#inputEmail").val()
		var phone = $("#inputPhone").val()
		var role = $("#userrole").val()
		var pass = $("#inputPass").val();
		var cnfpass = $("#inputCnfPass").val()

		if (pass === cnfpass) {
			debugger
			var model = {
				Name: name,
				Role: role,
				Email: email,
				Password: pass,
				Contact: phone,
			}

			$.ajax({

				url: '/Account/RegisterUser',
				type:'POST',
				data:model,
				success:function(res){
					debugger
					console.log(res)
					if(res.flag == 1){
						alert(res.message)
						window.location.href = '/Account/Login'
					}
					else{
						alert(res.message)
					}
				},
				error:function(res){
					debugger;
					console.log(res)
				}
			})
		}
		else {
			alert("Password Doesn't Matched!")
		}

	})

</script>
